# .gitignore file.

# Ignore test programs
strtol_ex.c

# Ignore the compiled debug and release directories, and their files, for all
# projects.
*/debug*
*/release*

# Ignore the .vscode directory and its files in all of the project directories.
*/.vscode